<div class="geo-start btn">Start Recording!</div>
<div class="geo-stop btn">Stop Recording!</div>
<div>Lat: <div class="lat">0.0</div></div>
<div>Lon: <div class="lon">0.0</div></div>
<div>Ele: <div class="ele">0.0</div></div>
<div>Speed: <div class="speed">0.0</div></div>
<div>Heading: <div class="heading">0.0</div></div>
<div>Time: <div class="time">0.0</div></div>