<div class="container">
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs index-tab">
      <li class="active"><a href="#tab1" data-toggle="tab">Feed</a></li>
      <li><a href="#tab2" data-toggle="tab">Stats</a></li>
    	  <li class="dropdown pull-right">
    	     <a class="dropdown-toggle"
    	        data-toggle="dropdown"
    	        href="#">
    	          Your Rides
    	         <b class="caret"></b>
    	       </a>
    	     <ul class="dropdown-menu gpx-menu">
    	     </ul>
    	   </li>
    </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    </div>
    <div class="tab-pane" id="tab2">
		<div id= "graph-details" class="container">
			<div class="row">
				<div class="span2">
					<div id="map"></div>
				</div>
				<div class="span7 offset3 top-detail">
					<div class="row">
						<div class="span2 offset">
							<h3 class="info">Speed: <div class="speed">0.0 MPH</div> </h3>
						</div>
						
					</div>
					<div class="row">
						<div class="span2 offset">
							<h3 class="info">Elevation: <div class="elevation">0.0 FT</div> </h3>
						</div>
					</div>
					<div class="row">
						<div class="span2 offset">
							<h3 class="info">Distance: <div class="dist">0.0 MILES</div> </h3>
						</div>

					</div>
					<div class="row"></div>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<svg width=1200 height=300 class="outside-svg">
				  	
					</svg>
				</div>
			</div>	
		</div>
    </div>
    <div class="tab-pane" id="tab3">
      <p>Howdy, I'm in Section 3.</p>
    </div>
  </div>
</div>
</div>
<div id="content" class="container">

</div>

<input type="file" id="files" name="file" />
<script>
$(function(){
	
	CA.Helpers.GpxUploadView.initialize();

	var gpxes = <%= @gpxes.to_json.html_safe %>;
	
	var $rootEl = $('#content');
	
	CA.Store.Gpxes = new CA.Collections.Gpxes(gpxes);

	window.CA.initialize($rootEl);
	
});
</script>