<h1>GPX Data</h1>
<div id="content"></div>

<script>
$(function(){
				<%   gpxes = []  %>
				<%   @gpxes.each { |gpx| gpxes << JSON.parse(gpx[:data]) } %>
	var gpxes = <%=  gpxes.to_json.html_safe %>;
	
	var $rootEl = $('#content');
	
	CA.Store.Gpxes = new CA.Collections.Gpxes(gpxes);

	window.CA.initialize($rootEl);
	
});
</script>