<h1>GPX Data</h1>
<div id="content"></div>

<script>
$(function(){
	var gpxes = <%= @gpxes[0].to_json.html_safe %>;
	console.log(gpxes);
		   
	var $rootEl = $('#content');
	
	CA.Store.Gpx = new CA.Models.Gpx(gpxes);
	
	
	// CA.Store.Wpts = new CA.Collections.Wpts(wpts);
	// CA.Store.Bounds = new CA.Collections.Bounds(bounds);
	
	window.CA.initialize($rootEl);
	
});
</script>