<h1>GPX Data</h1>

<input type="file" id="files" name="file" />

<div id="content" class="container">

</div>
<div id= "graph-details" class="container">
	<div class="row">
		<div class="span2 offset2">
			<div id="map"></div>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset 2">
			<svg width=1200 height=300 class="outside-svg"></svg>
		</div>
	</div>
	
</div>

<script>
$(function(){
	
	CA.Helpers.GpxUploadView.initialize();

	

	var gpxes = <%= @gpxes.to_json.html_safe %>;
	
	var $rootEl = $('#content');
	
	CA.Store.Gpxes = new CA.Collections.Gpxes(gpxes);

	window.CA.initialize($rootEl);
	
});
</script>