<div class="container">
<div class="tabbable"> <!-- Only required for left/right tabs -->
	
    <ul class="nav nav-tabs index-tab">
      <li class="active"><a href="#tab1" data-toggle="tab">Feed</a></li>
      <li><a href="#tab2" data-toggle="tab">Stats</a></li>
    	  <li class="dropdown pull-right">
    	     <a class="dropdown-toggle"
    	        data-toggle="dropdown"
    	        href="#">
    	          Your Rides
    	         <b class="caret"></b>
    	       </a>
    	     <ul class="dropdown-menu gpx-menu">
				 <!-- backbone generated list -->
    	     </ul>
    	   </li>
    </ul>
	
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
		<div id="feed-container"></div>
    </div>
    <div class="tab-pane" id="tab2">
		<div id= "graph-details" class="container">
			<div class="row">
				<div class="span6">
					<div id="map"><!-- Leaflet generated map here --></div>
				</div>
				<div class="span3 top-detail">
					<div class="row">
						<div class="span1 offset">
							<h3 class="info">Speed: <div class="speed">0.0 MPH</div> </h3>
						</div>
					</div>
					<div class="row">
						<div class="span1 offset">
							<h3 class="info">Elevation: <div class="elevation">0.0 FT</div> </h3>
						</div>
					</div>
					<div class="row">
						<div class="span1 offset">
							<h3 class="info">Distance: <div class="dist">0.0 MILES</div> </h3>
						</div>
					</div>
				</div>
					<div class="span4 offset5">
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<svg width=100% height=200 class="outside-svg">
				  	
					</svg>
				</div>
			</div>	
		</div>
    </div>
  </div>
</div>

</div>
	
   
<div id="panoModal" class="modal hide fade"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
	  	  <div id="pano"></div> 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class='no-display'>
	<a href="#panoModal" role="button" id="pano-modal-btn" class="btn" data-toggle="modal">Street View</a>
	<div id="canvas-div" display="none"></div>
	<input type="file" id="files" name="file" />
</div>

</div>


<script>
$(function(){
	
	CA.Helpers.GpxUploadView.initialize();
	CA.Store.Map = L.map('map');
	L.Icon.Default.imagePath = "/assets";
	CA.Store.Marker = L.marker([0,0]).addTo(CA.Store.Map);
	CA.Store.Marker.bindPopup("Street View!");
	
	var pos = new google.maps.LatLng( 0, 0);

    var panoramaOptions = {
      position: pos,
      pov: {
        heading: 34,
        pitch: 10
      }
    };
	
    CA.Store.Panorama = new  google.maps.StreetViewPanorama(document.getElementById('pano'),panoramaOptions);
	
	$('#panoModal').on('show', function(){
		window.setTimeout(function(){ 
			google.maps.event.trigger(CA.Store.Panorama, 'resize'); 
		}, 500 );
	});
	
	$('#panoModal').on('hidden', function(){
		
		window.setTimeout(function(){ 
			google.maps.event.trigger(CA.Store.Panorama, 'resize'); 
			$('.outside-svg').click();
		}, 2000 );
	});
	
	
	// $('#pano-modal-btn').click(function() {
	// 
	// });
	
	
    // $('#panoModal').css({
    //     width: "800",
    //     'margin-left': function () {
    //         return -($(this).width() / 2);
    //     }
    // });
	

	var gpxes = <%= @gpxes.to_json.html_safe %>;
	
	var $rootEl = $('#content');
	
	CA.Store.Gpxes = new CA.Collections.Gpxes(gpxes);

	window.CA.initialize($rootEl);
	
});
</script>