<h1 id="hedy">GPX Data</h1>

<div>
	<h2>New GPX</h2>
	<label for="gpx_data">
		Data:
		<input type="file" id="files" name="file"  />
	</label>
	<output id="list"></output>
</div>

<div id="content" class="container">

</div>
<svg width=1600 height=400 class="outside-svg"></svg>
<script>
var reader = new FileReader();
$(function(){
	
	function handleFileSelect(evt) {
	    file = evt.target.files; // FileList object
	  	reader.readAsText(file[0]);
	};
	
	reader.onload = function (evt){
		var gpx = new CA.Models.Gpx();			
		gpx.save({ data: evt.target.result }, {
			success: function (gpx, rsp){
				console.log("success hit");
				console.log(rsp);
				CA.Store.Gpxes.add(new CA.Models.Gpx(rsp))
			}
		});
	};
	
	document.getElementById('files').addEventListener('change', handleFileSelect, false);

	var gpxes = <%= @gpxes.to_json.html_safe %>;
	
	var $rootEl = $('#content');
	
	CA.Store.Gpxes = new CA.Collections.Gpxes(gpxes);

	window.CA.initialize($rootEl);
	
});
</script>