#map { 
	height: 300px;
	width: 500px;
}


#files {
    display:none;
}

.username {
	color: white;
}

#tab2 {
	overflow-x: hidden;
}

.top-detail {

}

.info {
	color: Black
	margin-left: 10px;
}

#pano {
	position: absolute;
	left: 800px;
	top: 120px;
	width: 400px;
	height: 300px;
	background-color: rgb(229,227,223);
	overflow: hidden;
	-webkit-transform: translateZ(0);
}

