#map { 
	height: 215px;
	width: 500px;
}


#files {
    display:none;
}

.username {
	color: white;
}

#tab2 {
	overflow-x: hidden;
}

.top-detail {
	  background-image: url("cycling-background.jpg"); 
	  background-size: 100%;
	  background-position: 0px -80px, top right;
}

.info {
	color: white;
	margin-left: 10px;
	text-shadow: 0px 0px 3px black;
}

