#map { 
	height: 300px;
	width: auto;
}


#files {
    display:none;
}

.username {
	color: white;
}

#tab2 {
	overflow-x: hidden;
}

.top-detail {

}

.info {
	color: black;
	margin-left: 10px;
}

#pano {
	position: inline-block;
	max-width: none;
	width: auto; 
	height: 400px;
	background-color: rgb(229,227,223);
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.no-display {
	display: none;
}

#panoModal {
}

.modal-body {
	height: 500px;
}
